

.color-blue
    color: $blue-color
.color-black-gray
    color: $black-gray
.color-dark-blue
    color: $dark-blue-color
.color-dark-gray
    color: $dark-gray
.color-white
    color: $white-color

.text-center
    text-align: center

.section
    padding: 60px 0
    &__section-title
        font-size: 50px
        line-height: 72px
        font-weight: 600
        &.reduce-line-height
            line-height: 59px
    &__section-small-title
        font-size: 27px
        line-height: 40px
        font-weight: 600
    &__section-description
        font-size: 18px
        line-height: 27px
        margin-top: 10px
        &.increases-line-height
            line-height: 32px
    &__section-small-description
        font-size: 15px

.main-title
    font-size: 54px
    line-height: 72px
    font-weight: 600
    text-align: left