
@import "fonts"
@import "vars.sass"




*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
html
	overflow-x: hidden

body
	font-family: $Roboto
	margin: 0
	line-height: 1.4
	background-color: $white-color
	overflow-x: hidden


//main component style

a
	text-decoration: none

ul
	margin: 0
	padding: 0
	li
		list-style-type: none

h1,h3,h4,h4,h5,h6,p
	margin: 0

img
	max-width: 100%

.input-wrapper
	position: relative
	.search-button
		position: absolute
		top: 7px
		right: 10px
		cursor: pointer
		img
			width: 22px

.standard-input
	display: flex
	justify-content: center
	align-items: center
	background-color: transparent
	border: none
	height: 40px
	width: 100%
	color: #575757
	opacity: .6
	font-family: $Roboto
	font-style: italic
	font-size: 18px
	font-weight: 400
	padding-left: 20px
	text-align: left
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	&:focus-visible
		outline: none
	&::-webkit-input-placeholder
		font-size: 18px
		color: #575757
	&:-moz-placeholder
		font-size: 18px
		color: #575757
	&::-moz-placeholder
		font-size: 18px
		color: #575757
	&:-ms-input-placeholder
		font-size: 18px
		color: #575757
	&::placeholder
		font-size: 18px
		color: #575757

button
	background: none
	border: none
	&:focus
		outline: none

.button
	&.standard
		font-size: 18px
		font-weight: 500
		border-radius: 5px
		color: $white-color
	&.standard
		height: 45px
		padding: 0px 40px
	&.height-50
		height: 50px
	&.width-160
		width: 100%
		max-width: 160px
	&.blue-button
		background-color: $blue-color
		&.shadow
			box-shadow: 0px 6px 30px rgba(37, 117, 252, 0.4)
	&.red-button
		background-color: $light-red
		color: white
	&.trnsp-red
		color: $light-red
		background-color: white
		border: 2px solid $light-red
	&.white-button
		background-color: #fafbfc
		color: $blue-color
		border: 2px solid $blue-color
	&.color-dark-gray
		color: $dark-gray
	&.light-pink
		background-color: rgba(255, 104, 40, 0.071)
		color: $light-red
		&.oval
			border: 2px solid rgb(255, 122, 81)
	&.light-oval
		border-radius: 3px
	&.oval
		border-radius: 22px
//end main component style

@import "setting-component"


header
	width: 100%
	position: relative
	z-index: 200
	&.non-box-shadow
		box-shadow: none
	.top-header
		padding: 60px 0 60px
		.wrapper-content
			display: flex
			flex-direction: row
			justify-content: space-between
			.nav-menu
				flex-direction: row
				align-items: center
				.item
					padding: 0 27px
					a
						color: $black-color
						font-family: $Rubik
						font-weight: 400
						transition: all .5s
						&:hover
							transition: all .5s
							opacity: .6
			.left-snippet,
			.right-snippet
				flex-direction: row
				align-items: center
			.right-snippet
				.standard-text
					transition: all .5s
					&:hover
						transition: all .5s
						opacity: .6
				.button
					font-size: 15px
					margin-left: 25px

	.navi-hamburger
		position: relative
		display: none
		flex-direction: column
		justify-content: space-between
		margin-left: 20px
		//top: 60px
		z-index: 3000
		//right: 15px
		float: right
		height: 48px
		width: 48px
		cursor: pointer
		padding: 10px
		background-color: transparent
		transition: all .5s
		&.open
			span
				left: -2px
				width: 34px
				&.top
					top: -2px
				&.bottom
					top: 0px
			span:first-child
				transform: rotate(45deg) translate(7.4px, 12.4px)
				left: .5px
			span:nth-child(2)
				width: 0
				opacity: 0
			span:last-child
				transform: rotate(-45deg) translate(8.4px, -8.4px)
		span
			position: relative
			display: block
			top: 0px
			height: 4px
			width: 100%
			border-radius: 5px
			transition: all .25s
			background-color: #f3904f

	.standard-text
		font-size: 16px
		color: $black-gray
		font-weight: 500


	//for mob menu
.nav-mobile
	display: flex
	flex-direction: column
	justify-content: space-between
	position: fixed
	top: 118px
	z-index: 2500
	//padding-top: 160px
	width: 100%
	bottom: 0
	height: 100%
	left: -100%
	background-color: $white-color
	transition-property: left
	transition-duration: .3s
	transition-timing-function: ease-in
	overflow: auto
	.top-header
		padding-left: 15px
		padding-right: 15px
	&.open
		left: 0
	#collapse
		display: flex
		flex-direction: column
		justify-content: flex-start
		padding-bottom: 100px
		ul
			border-top: 1px solid #d1d7db
			margin: 0
			padding: 0
		li > ul
			display: none
		.custom-search
			padding: 20px
		li.first-item-menu
			border-bottom: 1px solid #d1d7db
			&:last-of-type
				.link
					border-bottom: 1px solid transparent
			&.open
				i.fa-chevron-right
					transform: rotate(90deg)
					transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out
			.link
				display: flex
				flex-direction: row
				justify-content: space-between
				align-items: center
				padding: 20px 20px
				cursor: pointer
				&.active
					background-color: $blue-color
					span
						color: $white-color
				&:hover
					transition: background-color .5s
					background-color: #f18742a1
					span
						transition: all .5s
						color: $white-color
						opacity: 1
				&:active
						background-color: $dark-blue-color

				span,a
					//text-transform: uppercase
					width: 100%
					display: flex
					font-weight: 600
					font-size: 16px
					line-height: 16px
					color: $gray-color
				i.fa-chevron-right
					transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out
					//color: $orange
					font-size: 15px
			ul.submenu
				li
					a
						display: flex
						padding: 20px 40px
						border-bottom: 1px solid #d1d7db
						background-color: #f5f5f5
						font-size: 15px
						line-height: 16px
		.button-wrapper
			display: flex
			flex-wrap: wrap
			justify-content: center
			padding-top: 20px
			.button
				width: 100%
				max-width: 360px
				//max-width: 50%
				margin: 0px 20px 15px
				&.b-line
					border: 1px solid $dark-gray

	//home page



.main-banner
	position: relative
	padding: 40px 0 60px
	//&::before
	//	content: ""
	//	position: absolute
	//	z-index: -1
	//	top: 0
	//	right: 0
	//	background-image: url('../img/main-banner-background-img.png')
	//	background-repeat: no-repeat
	//	background-position: top right
	//	background-size: contain
	//	height: 100%
	//	width: 1000px
	&::after
		content: ''
		position: absolute
		width: 125px
		height: 260px
		background-image: url("../img/main-banner-bottom-snippet.png")
		background-repeat: no-repeat
		background-size: contain
		right: 0
		bottom: -50px
		z-index: -1
	.block-for-snippet-top
		position: relative
		&::before
			content: ""
			position: absolute
			background-image: url("../img/orange-line-circle.png")
			background-repeat: no-repeat
			background-size: contain
			top: -75px
			right: 25px
			width: 170px
			height: 170px
			z-index: -1
		img
			z-index: 150
	//.block-for-snippet-center-bottom
	//	position: absolute
	//	bottom: 200px
	//	left: 40vw
	//	&::before
	//		content: ""
	//		position: absolute
	//		background-image: url("../img/violet-triangle-snippet.png")
	//		background-repeat: no-repeat
	//		background-size: contain
	//		width: 213px
	//		height: 186px
	.section__section-description
		margin-top: 25px
	.wrapper-content
		position: relative
		max-width: 880px
		z-index: 100
	.button
		margin-top: 35px

.main-common-banner
	&.short-size
		padding-bottom: 0
		.section__section-middle-description
			margin-top: 25px
		.section__section-title
			font-size: 50px
			line-height: 58px
	.content-block
		display: flex
		flex-direction: column
		align-items: center
		width: 100%
		max-width: 1000px
	.common-underline
		width: 50%
		margin-top: 10px
	.main-title
		margin-top: 40px
	.section__section-description
		margin-top: 20px!important

.benefits
	position: relative
	&::after
		content: ''
		position: absolute
		bottom: -75px
		left: 0
		width: 140px
		height: 268px
		background-image: url("../img/orange-half-ball.png")
		background-repeat: no-repeat
		background-size: contain
		z-index: -1
	.tile-color
		display: flex
		flex-direction: column
		align-items: center
		padding: 100px 20px 190px
		background-image: url("../img/benefits-background.png")
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		.text-block
			max-width: 860px
			text-align: center
			.common-underline
				margin-top: 20px
				width: 50%
	.section__section-subtitle
		font-size: 16px
		color: #666666
		margin-bottom: 5px
	.white-tile-blocks
		width: 100%
		margin-top: 85px
		display: flex
		flex-direction: row
		justify-content: center
		flex-wrap: wrap
		margin-right: -15px
		margin-left: -15px
		&__wrapper
			width: 100%
			max-width: 390px
			padding: 0 15px
			margin-bottom: 30px
			&.snippet-triangle
				position: relative
				z-index: 1
				&::before
					content: ''
					position: absolute
					top: -45px
					left: -35px
					width: 115px
					height: 80px
					background-image: url("../img/line-triangle.png")
					background-repeat: no-repeat
					background-size: contain
					z-index: -1
			&.snippet-circle
				position: relative
				z-index: 1
				&::before
					content: ''
					position: absolute
					bottom: -35px
					right: -60px
					width: 147px
					height: 147px
					background-image: url("../img/orange-line-circle-img.png")
					background-repeat: no-repeat
					background-size: contain
					z-index: -1
			&:last-of-type
				margin-bottom: 0
		&__body
			display: flex
			flex-direction: column
			align-items: flex-start
			justify-content: flex-start
			padding: 60px 40px 50px
			min-height: 370px
			background-color: $white-color
			border-radius: 5px
			box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.04)
			transition: all .4s
			&:hover
				transform: scale(1.03)
				transition: all .4s
			.section__section-small-description
				margin-bottom: 5px
			&__count
				font-size: 80px
				line-height: 65px
				color: $light-red
				margin-left: -3px
				margin-bottom: 10px
			&__description
				font-size: 18px
				line-height: 28px
				font-weight: 400
				color: #666666
				margin-top: 8px
			.section-button
				color: $light-red


.our-clients
	.logo-items
		display: flex
		flex-direction: row
		justify-content: center
		flex-wrap: wrap
		margin-top: 35px
		li
			display: flex
			flex-direction: row
			align-items: center
			justify-content: center
			width: 200px
			min-width: 20%
			min-height: 80px
			padding: 0 20px 25px

.feedbacks
	padding-top: 100px
	.section
		&__wrapper-content
			height: 820px
			width: 45%
		&__img-wrapper-pressed
			position: absolute
			left: 0
			width: 45%
			background-image: url("../img/background-feedback-block.png")
			background-repeat: no-repeat
			background-size: contain
			background-position: center
			height: 820px
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
		&__wrapper-carousel
			width: 50%
		&__section-title
			width: 100%
			max-width: 400px
			line-height: 72px
			margin-top: -120px
			margin-right: -140px
			.replace
				display: flex
		&__wrapper-carousel
			.title-block
				font-family: $Gilroy-Light
				font-size: 160px
				font-weight: 300
				color: #f9fafc

.feedbacks
	background-color: $white-color
	position: relative
	padding-bottom: 120px
	.section__section-middle-description
		margin-top: 20px
	.feedback-carousel-wrapper
		margin-left: -15px
		margin-right: -15px
		margin-top: -65px
		width: 660px
		.feedback-carousel
			.item
				padding: 65px 0 40px
				.item-body
					position: relative
					display: flex
					flex-direction: column
					align-items: flex-start
					padding: 100px 10px 0px 10px
					.snippet-block
						position: absolute
						z-index: 150
						top: 0
						left: 10px
						img
							width: 70px
					.user-block
						display: flex
						flex-direction: row
						align-items: center
						.user-img
							margin-right: 20px
					.title
						font-size: 24px
						font-weight: 500
						line-height: 26px
					.subtitle
						font-size: 18px
						line-height: 22px
						font-weight: 300
					.description
						font-size: 24px
						line-height: 45px
						font-weight: 400
						font-family: $Rubik
						margin-bottom: 75px
	.slick-arrow-wrapper
		position: relative
		z-index: 1000
		display: flex
		flex-direction: row
		justify-content: flex-start
		padding-left: 10px
		.arrow-item
			cursor: pointer
			display: flex!important
			flex-direction: row
			justify-content: center
			align-items: center
			width: 40px
			height: 15px
			margin-right: 15px
			&#slick-next
				margin-top: -1px
			img
				width: 100%
				height: 100%


.faq
	&::after
		background-image: none
	padding-top: 100px
	padding-bottom: 300px
	background-image: url("../img/beige-bg.png")
	background-repeat: no-repeat
	background-size: cover
	.common-underline
		width: 50%
	.accordion-wrapper
		margin-top: 80px
	.text-snippet
		margin-top: 70px
		.title
			font-size: 36px
			font-weight: 400
			color: #000000
			margin-bottom: 25px


.round-snippet-banner
	.width-set
		padding: 0 30px
	.banner
		&__wrapper
			position: relative
			.snippet
				position: relative
				&::before
					content: ''
					position: absolute
					top: -250px
					right: -70px
					width: 200px
					height: 200px
					background-image: url("../img/orange-line-circle-img.png")
					background-repeat: no-repeat
					background-size: contain
					z-index: 1
		&__block
			border-radius: 40px
			position: absolute
			width: 100%
			background-color: rgb(228, 249, 255)
			z-index: 20
		&__content
			padding: 80px 70px
			display: flex
			flex-direction: row
			justify-content: space-between
			width: 100%
		&__left-side
			display: flex
			flex-direction: column
			align-items: flex-start
			width: 100%
			max-width: 480px
			margin-right: 30px
			.section__section-middle-title
				font-weight: 800
				font-size: 48px
				line-height: 58px
				margin-top: 5px
				text-align: left
		&__right-side
			display: flex
			flex-direction: column
			justify-content: center
			width: 100%
			max-width: 500px
			.input-line
				.bg-tile
					display: flex
					flex-direction: row
					justify-content: space-between
					align-items: center
					border-radius: 7px
					padding: 8px
					background-color: $white-color
				button
					font-size: 16px
					color: $white-color
					cursor: pointer
					width: 160px
					border-radius: 6px
			.section__section-middle-description
				margin-top: 15px
				color: #999999



.prices
	padding-top: 0
	position: relative
	padding-bottom: 220px
	.buttons-wrapper
		display: flex
		flex-direction: row
		justify-content: center
		.button
			font-weight: 400
			&.active
				background-color: $light-red
				color: $white-color
			&:first-of-type
				border-top-right-radius: 0
				border-bottom-right-radius: 0
			&:last-of-type
				border-top-left-radius: 0
				border-bottom-left-radius: 0
		.snippet-block
			position: relative
			&::before
				content: ''
				position: absolute
				top: 400px
				right: 9vw
				width: 170px
				height: 120px
				background-image: url("../img/green-triangle-snippet.png")
				background-repeat: no-repeat
				background-size: contain
				z-index: -1
	.wrapper-content
		&.narrow
			max-width: 580px
	.section__section-description
		max-width: 820px
	.prices-tiles-wrapper
		display: flex
		flex-direction: row
		justify-content: center
		margin-top: 90px
		.prices-tiles
			&__item
				width: 100%
				max-width: 290px
				&:nth-of-type(2)
					.prices-tiles__body
						border-left: none
						border-right: none
			&__body
				display: flex
				flex-direction: column
				align-items: center
				padding: 25px 0 40px
				position: relative
				border: 1px solid rgb(234, 234, 234)
				background-color: white
				.top-block
					display: flex
					flex-direction: column
					align-items: center
					width: 100%
					padding: 0 20px
				.subtitle
					font-size: 18px
					color: #000000
					text-transform: uppercase
				&.snippet
					&::after
						content: ''
						position: absolute
						bottom: -100px
						right: -100px
						width: 170px
						height: 170px
						background-image: url("../img/snipet-color-circle.png")
						background-repeat: no-repeat
						background-size: contain
						z-index: -1
				.price-text
					margin-top: 15px
					margin-bottom: 25px
					font-size: 40px
					line-height: 45px
					.bigger
						display: inline-block
						position: relative
						top: 20px
						font-size: 70px
						line-height: 75px
						margin-top: -50px
						margin-left: 2px
				.bottom-subtitle
					font-size: 18px
					opacity: .8
					color: #000000
					margin-bottom: 20px
				.button
					margin-bottom: 35px
					&.active
						background-color: $light-red
						color: $white-color
				.price-benefits
					width: 100%
					padding: 40px 25px 0px 50px
					border-top: 1px solid rgb(234, 234, 234)
					li
						position: relative
						font-weight: 400
						font-size: 17px
						line-height: 21px
						margin-bottom: 20px
						opacity: .7
						&:last-of-type
							margin-bottom: 0!important
						&::before
							content: ''
							position: absolute
							background-image: url("../img/red-checkmark.png")
							background-position: center
							background-repeat: no-repeat
							background-size: contain
							width: 13px
							height: 12px
							left: -25px
							top: 5px

.product-top-slider
	.slick-slide>div
		display: block
	.item
		display: flex!important
		flex-grow: 1
		.wrapper-img
			img
				display: block
				border-radius: 5px
.product-top-slider-wrapper
	position: relative
	.arrow-item
		position: absolute
		top: calc(50% - 19px)
		display: flex!important
		flex-grow: 1
		flex-direction: column
		align-items: center
		justify-content: center
		width: 38px
		height: 38px
		background-color: $white-color
		border-radius: 50%
		box-shadow:  0px 3px 3px rgba(0, 22, 60, 0.15)
		cursor: pointer
		margin: 2px 0 5px
		z-index: 20
		img
			width: 14px
		&#slick-prev
			margin-right: 22px
			left: 30px
			img
				margin-right: 2px
		&#slick-next
			margin-left: 22px
			right: 30px
			img
				margin-top: 1px
				margin-right: -2px



.product-bottom-slider-wrapper
	display: flex
	flex-direction: row
	justify-content: center
	margin-top: 20px
	height: 90px
	.product-bottom-slider
		height: 100%
		.slick-list,
		.slick-track
			height: 100%
		.slick-slide>div
			height: 100%
		.slick-slide
			&.slick-current
				&.slick-active
					.item
						.img-wrapper
							img
								border: .5px solid 
	.slider-box
		width: 100%
		margin: 0 -24px
	//max-width: 100%
	.item
		padding: 2px 7px 5px
		display: flex!important
		height: 100%
		.img-wrapper
			cursor: pointer
			img
				width: 100%
				height: 100%
				object-fit: cover
				box-shadow: 0px 3px 3px rgba(0, 22, 60, 0.15)
				border-radius: 7px





.how-it-works
	position: relative
	&::before
		content: ''
		position: absolute
		top: 50px
		left: 7vw
		width: 126px
		height: 121px
		background-image: url("../img/orange-ball.png")
		background-repeat: no-repeat
		background-size: contain
		z-index: -1
	&::after
		content: ''
		position: absolute
		top: 250px
		right: 7vw
		width: 147px
		height: 121px
		background-image: url("../img/gold-part-snippet.png")
		background-repeat: no-repeat
		background-size: contain
		z-index: -1
	.main-img
		margin-top: 60px

.feature-section+.feature-section
	padding-top: 0
.feature-section
	position: relative
	&.one-snippet
		&::after
			content: ''
			position: absolute
			top: 240px
			right: 2vw
			width: 190px
			height: 190px
			background-image: url("../img/square-green-snippet.png")
			background-repeat: no-repeat
			background-size: contain
			z-index: -1
	&.two-snippets
		&::before
			content: ''
			position: absolute
			top: -110px
			left: 4vw
			width: 190px
			height: 190px
			background-image: url("../img/violet-3d-triangle-snippet.png")
			background-repeat: no-repeat
			background-size: contain
			z-index: -1
		&::after
			content: ''
			position: absolute
			bottom: 80px
			right: 8vw
			width: 120px
			height: 120px
			background-image: url("../img/gold-triangle-snippet.png")
			background-repeat: no-repeat
			background-size: contain
			z-index: -1
	.wrapper-content
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: flex-start
	.section__section-description
		margin: 34px 0

.templates-example
	padding-top: 120px
	position: relative
	z-index: 1
	&.snippet
		&::before
			content: ''
			position: absolute
			top: 50%
			left: 2vw
			width: 190px
			height: 190px
			background-image: url("../img/gold-part-snippet-2.png")
			background-repeat: no-repeat
			background-size: contain
			z-index: -1
		&::after
			content: ''
			position: absolute
			bottom: -30px
			right: 12vw
			width: 160px
			height: 160px
			background-image: url("../img/ring-blue-snippet.png")
			background-repeat: no-repeat
			background-size: contain
			z-index: -1
		.snippet-block
			position: relative
			&::before
				content: ''
				position: absolute
				top: 400px
				right: 2vw
				width: 100px
				height: 120px
				background-image: url("../img/pink-3d-triangle-snippet.png")
				background-repeat: no-repeat
				background-size: contain
				z-index: -1
	.templates-tile
		&__list
			margin-top: 90px
			display: flex
			flex-direction: row
			justify-content: flex-start
			flex-wrap: wrap
			margin-left: -30px
			margin-right: -30px
		&__wrapper
			width: 33%
			min-width: 390px
			padding: 0 30px
			margin-bottom: 75px
			.snippet-text
				text-align: center
				margin-top: 15px
				font-size: 17px
				font-weight: 600
				line-height: 26px
		&__body
			background-color: $white-color
			box-shadow: 0px 3px 3px rgba(37, 117, 252, 0.15)
			border-radius: 5px
			padding: 8px 6px 12px 6px
			img
				display: block
	.button-wrapper
		margin-top: 10px

.blue-banner-background
	position: relative
	height: 600px
	background-image: url("../img/banner-background.jpg")
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	padding-bottom: 0
	.section__section-description
		max-width: 790px
	.img-block
		position: absolute
		width: 100%
		height: 50%
		bottom: 0
		object-fit: cover





.blue-bg-banner
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	min-height: 430px
	background-image: url("../img/blue-bg-banner.png")
	background-repeat: no-repeat
	background-size: cover

.accordion
	display: flex
	flex-direction: column
	width: 100%
	height: auto
	.a-container
		display: flex
		flex-direction: column
		width: 100%
		margin-bottom: 15px
		background-color: $white-color
		//border: 0.01px solid rgba(210, 210, 210, 0.63)
		.a-panel
			width: 100%
			color: #262626
			transition: all 0.2s ease
			opacity: 0
			height: auto
			max-height: 0
			overflow: hidden
			padding: 0px 60px
			.content
				//border-top: 1px solid rgba(37, 117, 252, 0.15)
				padding: 0px 0 35px
				.description
					font-size: 18px
					line-height: 29px
					font-weight: 400
					color: #5d5d5d
		&.active
			box-shadow: 0px 10px 20px 0px rgba(90, 111, 155, 0.08)
			.a-panel
				opacity: 1
				max-height: 500px
				transition: all 0.3s ease
		&.active
			span
				&::before
					transform: rotate(0deg)
	.a-btn
		margin: 0
		position: relative
		padding: 15px 15px 15px 60px
		width: 100%
		color: #414141
		font-size: 22px
		font-family: $Rubik
		display: block
		font-weight: 400
		cursor: pointer
		transition: all 0.3s ease
		border-radius: 5px
	span
		display: block
		position: absolute
		height: 12px
		width: 12px
		left: 25px
		top: 23px
		&:after
			content: ''
			width: 12px
			height: 2px
			border-radius: 2px
			background-color: $black-gray
			position: absolute
			top: 6px
		&:before
			content: ''
			width: 12px
			height: 2px
			border-radius: 2px
			background-color: $black-gray
			position: absolute
			top: 6px
			transform: rotate(90deg)
			transition: all 0.3s ease-in-out



.product-context
	.content-wrapper
		display: flex
		flex-direction: row
	.content-block
		padding-right: 30px
	.section__section-small-title
		margin-bottom: 15px
	.description
		font-family: "Open Sans",sans-serif
		line-height: 29px
		margin-bottom: 30px
		&:last-of-type
			margin-bottom: 0
	.side-bar
		min-width: 350px
		.white-bg-tile
			margin-bottom: 25px
			&:last-of-type
				padding-bottom: 40px
				margin-bottom: 0
		.title
			font-size: 17px
			font-weight: 600
			margin-bottom: 18px
		.button
			margin-bottom: 20px
			&:last-of-type
				margin-bottom: 0
		.list-links
			display: flex
			flex-direction: row
			li
				margin-right: 24px
				&:last-of-type
					margin-right: 0
				a
					display: flex
					flex-direction: row
					align-items: center
					justify-content: center
					border-radius: 5px
					width: 44px
					height: 44px
					border: 0.1px solid #bfbfbf59
		.list-products
			display: flex
			flex-direction: row
			li
				margin-right: 20px
				display: flex
				flex-direction: row
				align-items: center
				justify-content: center
				border-radius: 5px
				width: 40px
				height: 40px
				&.blue
					background-color: $blue-color
				&.orange
					background-color: #F5B913
				&.red
					background-color: #E54B23
				&:last-of-type
					margin-right: 0
		.list-text
			margin-bottom: 25px
			li
				font-size: 17px
				line-height: 20px
				color: #5D5D5D
				margin-bottom: 15px
				&:last-of-type
					margin-bottom: 0

footer
	padding: 270px 0 50px
	position: relative
	z-index: 1
	&::before
		content: ''
		position: absolute
		bottom: 0px
		left: 5vw
		width: 147px
		height: 107px
		background-image: url("../img/line-triangle.png")
		background-repeat: no-repeat
		background-size: contain
		z-index: -1
	&.standard-top-indent
		padding-top: 90px
	.wrapper-footer
		display: flex
		flex-direction: row
		justify-content: space-between
	.logo
		margin-bottom: 30px
	.title
		font-size: 12px
		line-height: 18px
		font-weight: 600
		margin-bottom: 10px
	.description
		font-size: 16px
		line-height: 24px
		font-weight: 400
		color: $gray-color
	.right-side
		width: 60%
		display: flex
		flex-direction: row
		justify-content: space-between
	.main-title
		text-transform: uppercase
		font-size: 24px
		line-height: 27px
		font-weight: 400
		margin-top: 5px
		margin-bottom: 20px
	.main-description
		font-size: 13px
		line-height: 20px
		font-weight: 400
	.item-list
		display: flex
		flex-direction: column
		&:first-of-type
			max-width: 380px
		&.context-item
			width: 100%
			max-width: 280px
		.main-description
			margin-bottom: 15px
	.list
		li
			margin-bottom: 15px
			&:last-of-type
				margin-bottom: 0
			a
				font-size: 16px
				line-height: 18px
				font-weight: 400
				color: $gray-color
				transition: all .5s
				&:hover
					transition: all .5s
					opacity: .6
	.link-list
		display: flex
		flex-direction: row
		margin-top: 45px
		li
			margin-right: 26px
			a
				display: flex
	.copyright
		margin-top: 130px


//ALWAYS END
@import "media"
